{% extends "base.html" %}

{% block content %}
<!-- <h1 class="title has-text-centered">Hello world!</h1> -->
<div class="container d-grid gap-3">
    <!-- <h1>Hello, world!</h1> -->

    <picture style="margin-top: 20px; border: 0;">
        <source srcset="/images/ModivCare_img.png" type="image/svg+xml">
        <img style="background-color: #9ac8db;" src="../images/ModivCare_img.png" class="img-fluid img-thumbnail"
            alt="...">
    </picture>
    <p></p>
    <!-- <p></p> -->
    <!-- <p></p> -->
    <!-- <p></p> -->
    <!-- <form> -->
        <div>
            <label for="formFileLg" class="form-label" accept="text/csv">Select *.csv file</label>
            <input class="form-control form-control-sm"  onchange="getFileCsv(this)" id="formFileLg" type="file"  accept="text/csv">
        </div>

        <div>
            <label for="formFileLg" class="form-label" >Select *.pdf file</label>
            <input class="form-control form-control-sm" onchange="getFilePdf(this)" id="formFileLg" type="file" accept="application/pdf">
        </div>

        <!-- <p></p> -->
        <!-- <input type="file" onchange="getFileName(this)" accept="text/csv"> -->
        <!-- <input type="file" onchange="getFileName(this)" accept="text/pdf"> -->

        <button type="submit" class="btn btn-primary btn-lg" onclick="compareFiles()">Convert files</button>
    <!-- </form> -->

    <!-- Large button groups (default and split) -->
    <!-- <div class="btn-group"> -->
    <!-- <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" -->
    <!-- aria-expanded="false"> -->
    <!-- Download files -->
    <!-- </button> -->
    <!-- <ul class="dropdown-menu" style="width:100%"> -->
    <!-- <li><a class="dropdown-item" href="#">Download *.csv, witout $0,00</a></li> -->
    <!-- <li><a class="dropdown-item" href="#">Download *.pdf, with marked records</a></li> -->
    <!-- <li><a class="dropdown-item" href="#">Download *.pdf, with deleted pages</a></li> -->
    <!-- <li> -->
    <!-- <hr class="dropdown-divider"> -->
    <!-- </li> -->
    <!-- <li><a class="dropdown-item" href="#">Download all</a></li> -->
    <!-- </ul> -->
    <!-- </div> -->
</div>
<script src="../js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>
    var file_csv = ""
    var file_pdf = ""
    
    function getFileCsv(input) {
        file_csv = input.files[0].name
    };

    function getFilePdf(input) {
        file_pdf = input.files[0].name
    };
    
    function compareFiles() {
        console.log('compareFiles js', file_csv, file_pdf)
        eel.compare_files(file_csv, file_pdf)
    };
</script>
{% endblock %}